<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Story</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="    background-image: url('/photo/profile.jpg');">
    <div class="content">
        <div class="profile" id="titan">
        </div>
        <div class="about">
                            <h2>Hi! My Name is </h2>
                <span>Titan
            </span>
            <p>This is our story...</p>
            <p>I am 2 month old now,and i love to share my story with you guyz. first of all thankyou so much for
                investing your time to know about me. I was found near a college in knowledge park in a carton with my 3
                siblings . We four were left by someone or departed by my mom ,i miss her so much but could not do any
                thing. we somehow tried to come out from that big box or saw this new place crowded by so many people
                everywhere . i was the elder one from four of us so as a big boy i tried to help them to come out from
                that box .Once we come out there were so many children in hurry ,may be they were getting late for there
                college that's why no body even shown a little interest on us.
                we all were so hungry eaten som dust or seeds lying there but it could'nt work i don't know why we were
                aparted from our mother without any reason. we were so hopeless or hungryat the same time but this time
                a girl in blue suit with her frienf finally noticed us. And came to me, touched me which feels
                comfortable and bring a hope of help for me and my siblings but she also lost in sometime or i thought
                that she'll never come back . i was still in same place crying in cold with no hopes in my eyes ,but she
                came back with so much of consern she lift me up with her hand and hugged me ,this time its not just a
                normal hug or for small inteval. This time it was more protective or loved touch which makes me feels
                that now finally we are around a nice person who really feel for me rest is history.
                From that day we are at her home or its been a month now. she feeds us properly we have our sweet little
                home or we are happy here
                and now we want that please help us to give a small part in your home so that we can bring more and more
                happiness in your (sorry our) family &#10083;.

            </p>
            <p>Thankyou so much...</p>
        </div>
    </div>
</body>

</html>